spring:
  application:
    name: project

  profiles:
    active: dev

  datasource:
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        default_schema: practice_schema

  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 7200  # 2h
    refreshTokenExpiration: 604800  # 7d

  jackson:
    mapper:
      sort-properties-alphabetically: false

stripe:
  secretKey: ${STRIPE_SECRET_KEY}
  webhookSecretKey: ${STRIPE_WEBHOOK_SECRET_KEY}
